**/target/
**/test-output/
**/.settings/
**/.classpath
**/.project
**/.tern-project
**/surefire/
**/.externalToolBuilders/
**/.springBeans
**/exportTest/
**/node_modules
**/hooks
**/platforms
**/plugins